azureml-core==1.53.0
azureml-dataset-runtime==1.53.0
azureml-defaults==1.53.0
azure-ml==0.0.1
azure-ml-component==0.9.18.post2
azureml-mlflow==1.53.0
azureml-contrib-services==1.53.0
azureml-contrib-services==1.53.0
azureml-automl-common-tools==1.53.0
torch-tb-profiler~=0.4.0
azureml-inference-server-http~=0.8.0
inference-schema~=1.5.0
MarkupSafe==2.1.2
regex
pybind11
cryptography>=41.0.4
aiohttp>=3.8.5
hydra-colorlog==1.1.0
hydra-core==1.1.0
omegaconf==2.1.2
opencv-python-headless==4.7.0.72
pandas==1.5.2
pillow==9.0.0
pytorch-lightning==1.8.6
rich==12.4.4
scikit-learn==1.1.1
scipy==1.8.1
seaborn==0.11.2
timm==0.5.4
torchmetrics==0.11.1
tqdm==4.62.3
iterative-stratification==0.1.7
mlflow
matplotlib==3.5.2
typing_extensions==4.2.0
psutil~=5.8.0
py-spy==0.3.12
debugpy~=1.6.3
scikit-multilearn==0.2.0
mlcm==0.0.1
natsort==8.4.0
mltable
transformers==4.18.0
einops==0.4.1
loralib