name: 04-PyTest Pull Request

on: 
  workflow_dispatch:
    # pull_request:

jobs:
  unittestpr:
    runs-on: ubuntu-latest
    steps:
    - name: Check out repo
      uses: actions/checkout@main
    - name: Use Python version 3.8
      uses: actions/setup-python@v3
      with:
        python-version: '3.8'
    - name: Install required packages
      run: |
        python -m pip install pytest mlflow sklearn
    - name: Run pytest
      run: | 
        python -m pytest tests 
