name: 05a-Training Register Model

on:
  workflow_dispatch:
    inputs:
      resource_group:
        description: 'Resource group name'
        required: true
        default: 'rg-dev-mlops' 
        type: string
      aml_workspace:
        description: 'Azure Machine Learning workspace name'
        required: true
        default: 'mlw-dev-mlops' 
        type: string

jobs:
  train:
    runs-on: ubuntu-latest
    environment: DEV
    outputs:
      job_name: ${{ steps.train.outputs.job_name }}
    steps:
    - name: Check out repo
      uses: actions/checkout@main
    - name: Install az ml extension
      run: az extension add -n ml -y
    - name: Azure login
      uses: azure/login@v1
      with:
        creds: ${{secrets.AZURE_CREDENTIALS}}
    - name: Set Azure ML workspace as default
      run: |
        az configure --defaults group="${{ github.event.inputs.resource_group }}"
        az configure --defaults workspace="${{ github.event.inputs.aml_workspace }}"
    - name: Run AML Training Job
      id: train
      run: |
        cd src   
        echo "::set-output name=job_name::$(az ml job create --file ../dependencies/cli_job.yml | jq .display_name)"
  register:
    runs-on: ubuntu-latest
    environment: DEV
    needs: train
    steps:
    - name: Check out repo
      uses: actions/checkout@main
    - name: Install az ml extension
      run: az extension add -n ml -y
    - name: Azure login
      uses: azure/login@v1
      with:
        creds: ${{secrets.AZURE_CREDENTIALS}}
    - name: Set Azure ML workspace as default
      run: |
        az configure --defaults group="${{ github.event.inputs.resource_group }}"
        az configure --defaults workspace="${{ github.event.inputs.aml_workspace }}"
    - name: Register Model to AML
      id: register
      run: |
        cd src
        model_name=${{ needs.train.outputs.job_name }}
        echo "model_name: $model_name"
        az ml model create --name credit_default_model --path azureml://jobs/$model_name/outputs/artifacts/paths/model/  --type mlflow_model
        #az ml model create -n diabetes-model -p runs:/patient_ear_3dqx3xgmxj/model --type mlflow_model
      